*#
*.[0-9]
*.class
*.db
*.deb
*.el
*.gif
*.gz
*.handlebars
*.ico
*.iml
*.ipr
*.iws
*.jar
*.jpeg
*.jpg
*.log
*.mib
*.pif
*.png
*.rtf
*.screenrc
*.sw?
*.tar
*.vssl
*.whl
*.xcf
*.zip
*~
.#*
.*.md.html
.DS_Store
.bak_0.log
.idea
.lock
.mylyn
.recommenders
.springBeans
.svn
*.min.js
*.min.css

bin
bootstrap
classes
dist
distribution
logs
org
build
images
